<!DOCTYPE html>
<html>
<head>
  <title>Diver</title>
  <%= stylesheet_link_tag    "diver/application", media: "all" %>
  <%= javascript_include_tag "diver/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
